.separator-line {
    width: 50%;
}

.separator-line-blue {
    border: 1px #0c15e4 solid;
}

.separator-line-orange {
    border: 1px #fd7826 solid;
}

.separator-line-big {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .separator-line {
        border: 0px;
    }
    .separator-line-big {
        width: 100%;
    }
}
