.subtitle {
    /* color: #0c15e4; */
    font-family: "Bebas Neue";
    font-size: 60px;
    text-align: center;
}

.subtitle-left {
    text-align: start;
}

.subtitle-blue {
    color: #0c15e4;
}

.subtitle-orange {
    color: #fd7826;
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 30px;
    }
}
