.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    height: calc(100%- 72px);
    gap: 32px;
}

.create-address-modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.box-content {
    position: absolute;
    top: 10%;
    left: 10%;
    height: calc(100vh - 20%);
    width: calc(100vw - 20%);
    border-radius: 32px;
    background-color: #f4efdc;
}
