.logo-default {
    position: absolute;
    width: 163px;
    left: 5%;
}
.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo-default {
        position: relative;
        width: 130px;
    }
    .inline {
        display: inline;
        position: relative;
        width: 55px;
    }
}
