.logo-default {
    position: absolute;
    width: 163px;
    left: 5%;
    top: 5%;
    cursor: pointer;
}
.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo-default {
        position: relative;
        width: 130px;
    }
    .inline {
        left: 0;
        display: inline;
        position: relative;
        width: 55px;
    }
    .big {
        width: 100px;
    }
}
