.active-class-card {
    background-color: #0c15e4;
    width: calc(50% - 56px);
    min-height: 132px;
    padding: 12px 20px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #f4efdc;
    font-family: "Bebas Neue", sans-serif;
    font-size: 23px;
}

.active-class-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f4efdc;
    padding-bottom: 18px;
}
.active-class-card-top-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}

.active-class-card-top-left-address {
    font-size: 20px;
}

.active-class-card-top-right {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 20px;
}

.active-class-card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.active-class-card-bottom-teacher {
    text-align: end;
}

@media screen and (max-width: 900px) {
    .active-class-card {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 16px !important;
    }
}
